basicauth==0.2
dj-database-url==0.3.0
Django==1.8
django-postgrespool==0.3.0
gspread==0.2.3
gunicorn==19.3.0
mock==1.0.1
numpy==1.9.2
oauthlib==0.7.2
pandas==0.16.0
psycopg2==2.6
python-dateutil==2.4.2
python-oauth2==0.7.0
pytz==2015.2
requests==2.6.0
requests-oauthlib==0.4.2
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
SQLAlchemy==1.0.4
tweepy==3.3.0
whitenoise==1.0.6
